In [ ]:
Continuation with list datatype:
Organizing the list data types

In [4]:
Cars= ['bmw','tata','suzuki','audi','toyota','benz']
print (Cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [7]:
type(Cars)

list

In [ ]:
#req: i want to organize the list in alphabatic order  A,B,C,D
    there are 2 approaches:
        1.temporary approach ----> sorted method
        2.permanent approach ----> sort method

In [10]:
print(Cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [11]:
print(sorted(Cars))

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [18]:
Cars.sort( )
print(Cars)

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [19]:
#req count the number of elements in the list;
len(Cars)

6

In [21]:
#req: print the list in the ascending order or desending order A-Z or Z-A;
Cars.reverse()
print(Cars)

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
Introduction to slicing...

In [22]:
students=['anika','arpita','bhushan','bhanu','chandra','cindrela','dereck']
print(students)

['anika', 'arpita', 'bhushan', 'bhanu', 'chandra', 'cindrela', 'dereck']

In [23]:
#req: how to include arpita and anika in the slicing list;
print(students[0:1])

['anika']

In [26]:
print(students[0:2])

['anika', 'arpita']

In [29]:
print(students[1:4])

['arpita', 'bhushan', 'bhanu']

In [30]:
print(students[2:4])

['bhushan', 'bhanu']

In [32]:
print(students[0:5:2])

['anika', 'bhushan', 'chandra']

In [33]:
print(students[0:7:2])

['anika', 'bhushan', 'chandra', 'dereck']

In [35]:
print(students[0:9:3])

['anika', 'bhanu', 'dereck']

Introduction to tuple datatypes

In [37]:
dimensions=(20,50)
print (dimensions)

(20, 50)

In [38]:
type(dimensions)

tuple

In [39]:
print(dimensions[1])

50